@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Oswald|Roboto+Condensed');

.font1{
	font-family: 'Open Sans', sans-serif;
}
.font2{
	font-family: 'Noto Sans SC', sans-serif;
}
.font3{
	font-family: 'Allerta Stencil', sans-serif;
}
.white{
	color: #ffffff;
}
.black{
	color: #000000;
}
.bg-db{
	background: #dbdbdb;
}
.bg-red{
	background: #B30000;
}
.bg-black{
	background: #1a1a1a;
}
.bayangan {
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}
.bg-size{
	width: 100%;
}
.banner{
	position: relative;
	z-index: 1;
}
.banner .banner_text{
	position: absolute;
	z-index: 2;
	top:10px;
	font-size: 60px;
}
.banner .banner_text .banner_text2{
	top: 10px;
	font-size: 40px; 
}

@media (max-width: 1024px){
	.banner{
		/*position: relative;
		z-index: 1;*/
	}
	.banner .banner_text{
		/*position: absolute;
		z-index: 2;*/
		top: 40px;
		font-size: 40px;
	}
	.banner .banner_text .banner_text2{
		top: 40px;
		font-size: 30px;
	}
}

@media (max-width: 960px){
	.banner{
		/*position: relative;
		z-index: 1;*/
	}
	.banner .banner_text{
		/*position: absolute;
		z-index: 2;*/
		top: 30px;
		font-size: 30px;
	}
	.banner .banner_text .banner_text2{
		top: 30px;
		font-size: 20px;
	}
}

@media (max-width: 570px){
	.banner{
		/*position: relative;
		z-index: 1;*/
	}
	.banner .banner_text{
		/*position: absolute;
		z-index: 2;*/
		top: 13px;
		font-size: 20px;
	}
	.banner .banner_text .banner_text2{
		top: 13px;
		font-size: 10px;
	}
}

body{
	margin: 0 auto;
	/*background-image: url("../img/banner.jpg");*/
	background-repeat: no-repeat;
	background-size: 100% 750px;
}

.container{
	text-align: left;
	background-color: rgba(52, 73, 94,0.7);
	border-radius: 4px;
	margin-top: 70px;
	margin-bottom: 160px;
}

.containerr{
	text-align: left;
	background-color: rgba(52, 73, 94,0.7);
	border-radius: 4px;
	margin-top: 20px;
	margin-bottom: 35px;
}


